.header {
  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    align-content: center;

    &-item {
      display: block;

      img {
        display: block;
        height: 80px;
      }

      &__switcher {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;

        &__area {
          position: relative;
          height: 4px;
          background-color: var(--switcher-background);
          width: 120px;
        }

        &__point {
          position: absolute;
          top: -200%;
          left: 50%;
          transform: translateX(-50%);
          width: 140px;
          display: flex;
          justify-content: space-between;
          height: 100%;
          &-marker {
            width: 20px;
            height: 20px;
            background: var(--text-color);
            border: 3px solid var(--switcher-background);
            border-radius: 100%;
            cursor: pointer;
            transition: all 0.3s ease;
            &.active {
              border-color: var(--switcher-active);
            }
          }
        }

        &__text {
          display: flex;
          justify-content: space-between;
          width: 140px;
          &-label {
            color: var(--text-color);
            font-size: 14px;
            &.active {
              color: var(--switcher-active);
              font-weight: bold;
            }
          }
        }
      }

      &__theme {
        margin: 0 auto;
      }
    }
  }
}
