.footer {
  background: var(--footer-color);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    padding: 0 60px;

    color: var(--text-color-inverted);

    &-item {
      height: 35px;
      font-size: 18px;
    }

    p {
      height: 30px;
      line-height: 30px;
    }
  }
}
