a {
  text-decoration: none;
  color: #ffffff;
}
a span {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color: #272e54;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  transition: all 0.5s;
  text-align: center;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
}
body.active {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper-item {
  display: block;
}

footer {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }
}
