{
  "extends": ["stylelint-config-standard", "stylelint-config-clean-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "color-named": "never",
    "color-no-hex": true,
    "function-allowed-list": ["var"],
    "length-zero-no-unit": true,
    "no-empty-source": true,
    "no-duplicate-selectors": true,
    "max-empty-lines": 1
  }
}
