@media (max-width: 1190px) {
  .footer {
    &__buttons {
      &__wrapper {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }
  .header {
    &__wrapper {
      &__nav {
        ul {
          display: none;
        }
      }

      &-hamburger {
        display: flex;
      }
    }
  }
}
