.theme-switcher {
  position: relative;
  width: 110px;
  height: 55px;
  border-radius: 10px;
  background: var(--app-blue);
  outline: 5px solid var(--main-color);

  &__point {
    line-height: 55px;
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--backdrop);
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }
  }
}

.theme-switcher[data-theme="dark"] .theme-switcher__point {
  transform: translateX(0);
  background-color: var(--bg-color);
}

.theme-switcher[data-theme="light"] .theme-switcher__point {
  color: var(--text-color-inverted);
  transform: translateX(55px);
  background-color: var(--app-green);
}
