.gift {
  border-radius: 20px;

  &::before {
    background: url('../../../assets/images/bg/bg-garland.png') top / contain no-repeat;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    position: relative;
    z-index: 10;

    &__text {
      max-width: 426px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 12px;
    }

    &__title {
      text-transform: uppercase;
      text-align: center;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: 0.18em;
    }

    &__selector {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 8px;

      &-item {
        text-transform: uppercase;
        padding: 12px 20px;
        border-radius: 12px;

        &__active {
          background: $static-white-20;
          border-radius: 12px;
        }

        &:hover {
          background: $static-white-20;
          border-radius: 12px;
        }
      }
    }

    &__gifts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 12px;

      &-item {
        cursor: pointer;
        position: relative;
        border-radius: 20px;
        width: 310px;
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .health {
          color: $tag-purple;
        }

        .harmony {
          color: $tag-pink;
        }

        .work {
          color: $tag-green;
        }

        &__img {
          height: 230px;
        }

        &__text {
          border-radius: 20px;
          padding: 20px;
          width: 100%;
          min-height: 112px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: start;
          row-gap: 8px;
          background: $static-white;

          h3 {
            text-transform: uppercase;
            color: $dark;
          }

          h4 {
            text-transform: uppercase;
          }
        }

        &:hover {
          h3 {
            color: $primary;
          }
        }

        background: $content-background;
      }
    }
  }
}
