.main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    &-item {
      &__title {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
      }

      &__cars {
        width: 100%;
      }
    }
  }
}
