.main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    &-item {
      &__top {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;
      }

      &__form {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;

        height: 30px;

        &-input {
          cursor: pointer;

          display: block;

          height: 100%;
          border: 3px double var(--logo-color);
          border-radius: 8px;

          background: var(--footer-color);
        }

        &-button {
          height: 100%;
          font-size: 16px;
          line-height: 100%;
        }
      }

      &__title {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
      }

      &__cars {
        position: relative;
        width: 100%;

        &::before {
          content: '🏁';

          position: absolute;
          top: 20px;
          right: 45px;

          border-left: 2px var(--border) solid;

          font-size: 40px;
        }

        &::after {
          content: '';

          position: absolute;
          top: 45px;
          right: 85px;

          width: 1px;
          height: calc(100% - 47px);
          border: 1px var(--border) solid;
        }
      }

      &__table {
        font-size: 20px;

        &-thead {
          font-weight: 400;
        }

        &-th {
          padding: 10px;
        }

        &-tbody {
          font-weight: 200;
        }

        &-tr {
          margin-bottom: 10px;
        }

        &-car {
          width: 90px;
          height: 40px;
          margin: 0 auto;
          border-radius: 5px;

          background: var(--track-bcakground);
          box-shadow: 0 2px 8px var(--backdrop);

          svg {
            width: 80px;
            height: 40px;

            g {
              g {
                path {
                  fill: var(--car-color);
                }
              }

              #rearwheel,
              #frontwheel {
                fill: var(--car-color);
                stroke: var(--black);
              }
            }
          }
        }
      }

      &__pagination {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
