body {
  --popup-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  --close: #ff5f57;
  --minimize: #febc2e;
  --popup-button: #0071e3;
}
body.light {
  --bg-color: #e9f1ff;
  --footer-bg-color: #67d7ff;
  --text-color: #1d1d1f;
  --border-color: #000000;
  --inverted-border-color: #ffffff;
  --game-background: rgba(255, 255, 255, 0.5);
  --cell-color: #000000;
  --switcher-background: #868686;
  --switcher-point: #ffd3d3;
  --switcher-active: #2196f3;
  --start-button: #28c940;
  --popup-background: #ffffff;
}

body.dark {
  --bg-color: #273434;
  --footer-bg-color: #00d8d8;
  --text-color: #f5f5f7;
  --border-color: #ffffff;
  --inverted-border-color: #000000;
  --game-background: rgba(255, 255, 255, 0.01);
  --cell-color: #ffffff;
  --switcher-background: #e8e8e8;
  --switcher-point: #fff9d3;
  --switcher-active: #2196f3;
  --start-button: #219d31;
  --popup-background: #242426ff;
}

a {
  text-decoration: none;
  color: var(--text-color);

  span {
    display: none;
  }
}

.link {
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

.border-right {
  border-right: 2px solid var(--border-color) !important;
}

.border-bottom {
  border-bottom: 2px solid var(--border-color) !important;
}

.btn {
  display: block;
  height: 30px;
  width: 90px;
  color: var(--text-color);
  background: var(--footer-bg-color);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s all;
  &:hover {
    scale: 1.1;
  }
}

.hidden {
  display: none !important;
}
