.slider {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    z-index: 10;

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 12px;
    }

    &__images {
      display: flex;
      text-transform: uppercase;
      column-gap: 20px;

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        .slider_image {
          border-radius: 20px;
          width: 200px;
          height: 200px;
        }
      }
    }

    &__controls {
      display: flex;
      justify-content: flex-end;
      column-gap: 20px;

      &-item {

      }
    }
  }
}
