.main {
  &__wrapper {
    display: grid;
    justify-content: center;
    margin: 0 auto;

    &-item {
      padding: 15px;
    }
  }
}

.logo {
  will-change: filter;
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
