.main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    &-item {
      &__buttons {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        align-items: center;
        justify-content: center;

        .start {
          background: var(--add);
        }

        .clear {
          background: var(--cancel);
        }
      }

      &__options {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        justify-content: center;

        width: 100%;

        &-row {
          display: flex;
          column-gap: 20px;
          align-items: center;
          justify-content: center;

          width: 100%;

          .delete {
            background: var(--delete);
          }
        }
      }
    }
  }
}

.logo {
  will-change: filter;
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
