a {
  text-decoration: none;
  color: $color;

  span {
    display: none;
  }
}

.link {
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

.locked {
  cursor: default;

  &:hover {
    cursor: default;
  }

  &:active {
    border-style: unset;
  }

  &:focus-visible {
    outline: unset;
  }
}
