@font-face {
  font-family: 'Arial';
  font-weight: normal;
  font-style: normal;
  src: local('Arial'), local("Arial-MT"), url('./../../../assets/fonts/ArialMT.woff') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
  src: local('Arial Bold'), local('Arial-BoldMT'), url('./../../../assets/fonts/Arial-BoldMT.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-weight: 900;
  font-style: normal;
  src: local('Arial Black'), local('Arial-Black'), url('./../../../assets/fonts/Arial-Black.ttf') format('truetype');
}
