.main {
  &__wrapper {
    position: relative;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    background: var(--bg-color);
    box-shadow: 0 18px var(--main-color), 0 24px 24px var(--backdrop);
    padding: 20px;
    width: 70%;
    margin: 0 auto;

    &-about {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-top {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
        &::after {
          position: absolute;
          top: 5px;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          display: block;
          height: calc(100% - 10px);
          border: 1px solid var(--main-color);
        }
        &-img {
          display: block;
          width: 100%;
        }
      }
      &-bottom {
        padding-top: 16px;
        width: 100%;
        position: relative;
        &-back{
          margin: 0 auto;
        }
        &::after {
          position: absolute;
          right: 5px;
          top: 0;
          content: '';
          display: block;
          width: calc(100% - 10px);
          border: 1px solid var(--main-color);
        }
      }
    }
    &-auth {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      &-block {
        display: block;
        position: relative;
        width: 60%;
        padding: 8px;
        margin-bottom: 20px;

        &__input {
          cursor: pointer;
          display: block;
          border: 3px double var(--main-color);
          border-radius: 8px;
          background: var(--app-blue);
          color: var(--main-color);
          font-size: 24px;
          font-weight: 700;
        }

        &__message {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          bottom: -30px;
          color: var(--delete);
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
